@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
body{
  background: #E5E5E5;
}
* body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
}

*::-webkit-scrollbar-track {
  background: transparent!important;
}

*::-webkit-scrollbar-thumb {
  background: transparent!important;
}

/* *::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
} */
